site_name: Percona Server for MySQL
repo_url: https://github.com/pmcf-percona/mkd
repo_name: percona/psmysql-docs
theme:
  name: material
  logo: assets/percona-mark.svg
  favicon: assets/percona-fav.svg
  custom_dir: overrides
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme: percona-light)"
      scheme: percona-light
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: percona-dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    # Header navigation to stick to top when scrolling
    - navigation.tabs.sticky
    # Group sidebar by clusters instead of drowpdowns
    # - navigation.sections
    - navigation.top
    # Auto hiding the whole header after scrolling down
    # - header.autohide
    # To choose wether the tabs should remmeber its selection and cross-link with other tabs that have the same label
    # - content.tabs.link
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
extra_css:
  - css/design.css
plugins:
    - search
extra:
  version:
    provider: mike
  consent:
    title: Cookie Consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well as to measure the effectiveness of our documentation and whether users find what they're searching for. With your consent, you're helping us to make our documentation better. Read more about <a class="reference external" href="https://www.percona.com/20180524-cookie-policy" target="_blank">Percona Cookie Policy</a>.
    cookies:
      analytics: Google Analytics 
      github: Github
    actions:
      - manage
      - accept
  analytics:
    provider: google
    property: G-XXXXXXXXXX
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thank you for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thank you for your feedback! Help us improve by following this <a href="..." target="_blank" rel="noopener">feedback form</a>.
copyright: >
  <a href="https://www.percona.com/about">Percona LLC</a> and/or its affiliates © 2023 — <a href="#__consent">Cookie Consent</a>
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.snippets:
      base_path: ["snippets"]
      auto_append:
        - services-banner.md
  - pymdownx.details
  - pymdownx.highlight:
      use_pygments: true
  - admonition
  - md_in_html
  - toc:
      permalink: true

# Page tree def
nav:
  - About:
    - Percona Server for MySQL: index.md
    - Features:
      - feature/binary-log-disk-usage.md
      - feature/extended-mysqlbinlog.md
      - feature/extended-select-into.md
      - Etc...: dummy.md
    - Release Notes:
      - release-note/2023/8.0.33-25.md
      - 2023: 
        - release-note/2023/8.0.32-24.md
        - Release 2: dummy.md
        - Etc...: dummy.md
      - 2022:
        - Release 1: dummy.md
        - Release 2: dummy.md
        - Etc...: dummy.md
  - Installation:
    - Quickstart Guides: installation/quickstart-guides.md
    - Install via apt:
      - installation/apt/quickstart.md
      - installation/apt/run-stop.md
      - installation/apt/pinning.md
      - installation/apt/uninstall.md
    - Install via yum:
      - Quickstart: installation/dummy.md
      - Run/Stop: installation/dummy.md
      - Uninstall: installation/dummy.md
    - Kubernetes:
      - Quickstart: installation/dummy.md
    - Docker:
      - Quickstart: installation/dummy.md
      - Environment Variables: installation/dummy.md
    - Manual Download:
      - Quickstart: installation/dummy.md
      - Available Files list: installation/dummy.md
    - Post-installation tips:
      - Post-installation Guide: installation/dummy.md
      - Binary Logs and Replication improvements: installation/dummy.md
      - Working with AppArmor: installation/dummy.md
      - Working with SELinux: installation/dummy.md
    - Upgrade:
      - Upgrade: installation/dummy.md
    - Downgrade:
      - Downgrade: installation/dummy.md
  - How to:
    - Prepare for production:
      - Overview: how-to/overview.md
      - Hardware Specifications: how-to/dummy.md
      - Operating System Compatibility: how-to/dummy.md
      - Memory and Storage: how-to/dummy.md
      - Network Configuration: how-to/dummy.md
      - Backup and Disaster Recovery: how-to/dummy.md
      - Performance Tuning: how-to/dummy.md
      - Scaling Techniques: how-to/dummy.md
      - Monitoring and Alerting: how-to/dummy.md
      - Security Considerations: how-to/dummy.md
      - High Availability: how-to/dummy.md
      - Configuration Best Practices: how-to/dummy.md
      - Automated Deployment: how-to/dummy.md
      - User Privileges and Permissions: how-to/dummy.md
    - Basics:
      - how-to/create-a-database.md
      - Show databases: how-to/dummy.md
      - Set the default database: how-to/dummy.md
      - Create a table: how-to/dummy.md
      - Show tables: how-to/dummy.md
      - Insert rows: how-to/dummy.md
      - Create an index: how-to/dummy.md
      - Show indexes: how-to/dummy.md
      - Query a table: how-to/dummy.md
      - Update rows: how-to/dummy.md
      - Delete rows: how-to/dummy.md
      - Drop a table: how-to/dummy.md
      - Drop a database: how-to/dummy.md
      - See also: how-to/dummy.md
    - Advanced:
      - Guide 1: how-to/dummy.md
      - Guide 2: how-to/dummy.md
      - Etc...: how-to/dummy.md
    - Percona-exclusive:
      - Keyring:
        - Plugin Guide 1: how-to/dummy.md
        - Plugin Guide 2: how-to/dummy.md
        - Etc...: how-to/dummy.md
      - Feature 2 Guide: how-to/dummy.md
      - Feature 3 Guide: how-to/dummy.md
      - Etc...: how-to/dummy.md
  - Monitoring:
    - Audit log plugin: monitoring/dummy.md
    - Jemalloc memory allocation profiling: monitoring/dummy.md
    - User statistics: monitoring/dummy.md
    - Slow query log: monitoring/dummy.md
    - Process list: monitoring/dummy.md
    - Misc. INFORMATION_SCHEMA tables: monitoring/dummy.md
    - Percona Monitoring and Management:
      - How to install PMM: monitoring/dummy.md
      - How to setup MySQL monitoring: monitoring/dummy.md
      - Etc...: monitoring/dummy.md
  - Backup and Restore:
    - Overview: backup-and-restore/dummy.md
    - Backup locks: backup-and-restore/dummy.md
    - Extended mysqldump: backup-and-restore/dummy.md
    - Start transaction with consistent snapshot: backup-and-restore/dummy.md
  - Security:
    - Overview: security/overview.md
    - LDAP features:
      - Using LDAP: security/dummy.md
      - Authentication: security/dummy.md
    - Data masking: security/dummy.md
    - PAM authentication: security/dummy.md
    - SSL improvements: security/dummy.md
    - Server variables: security/dummy.md
    - FIDO authentication: security/dummy.md
    - Encryption functions: security/dummy.md
    - Data-at-rest encryption: security/dummy.md
  - Storage Engines:
    - Percona XtraDB:
      - About: storage-engine/dummy.md
      - Improved MEMORY: storage-engine/dummy.md
      - Improved InnoDB I/O: storage-engine/dummy.md
      - Etc...: storage-engine/dummy.md
    - Percona MyRocks:
      - About: storage-engine/dummy.md
      - Installation: storage-engine/dummy.md
      - Features: storage-engine/dummy.md
      - Etc...: storage-engine/dummy.md
    - TokuDB:
      - About: storage-engine/dummy.md
      - Installation: storage-engine/dummy.md
      - Features: storage-engine/dummy.md
      - Etc...: storage-engine/dummy.md
  - Troubleshoot:
    - troubleshoot-and-qa/overview.md
    - Installation and Configuration: troubleshoot-and-qa/dummy.md
    - Performance Bottlenecks: troubleshoot-and-qa/dummy.md
    - Data Integrity and Recovery: troubleshoot-and-qa/dummy.md
    - Networking and Connectivity: troubleshoot-and-qa/dummy.md
    - Query Optimization: troubleshoot-and-qa/dummy.md
    - Replication and High Availability: troubleshoot-and-qa/dummy.md
    - Security and Access Control: troubleshoot-and-qa/dummy.md
    - Etc...: troubleshoot-and-qa/dummy.md
    - Questions & Answers:
      - Q&A Index: troubleshoot-and-qa/dummy.md
      - How do I connect the dots: troubleshoot-and-qa/dummy.md
      - How to include XYZ in parameter ABC: troubleshoot-and-qa/dummy.md
      - Etc...: troubleshoot-and-qa/dummy.md
  - Reference:
    - Variables introduced in PS 8.0: reference/dummy.md
    - Features by PS release: reference/dummy.md
    - Feature comparison: reference/dummy.md
    - Versioning: reference/dummy.md
    - Development: reference/dummy.md
    - Trademark policy: reference/dummy.md
    - Information Schema tables: reference/dummy.md
    - Copyright and Licencing: reference/dummy.md
    - Glossary: reference/dummy.md
  - Installing PMM:
    - Quickstart Guide:
      - Step 1 — Install PMM Server:
        - Introduction: wizard/step1.md
        - Docker (easy-install): reference/dummy.md
        - Docker: wizard/install-pmm-server/docker.md
        - Podman: reference/dummy.md
        - Helm: reference/dummy.md
        - Amazon AWS: reference/dummy.md
        - Virtual machine: reference/dummy.md
      - Step 2 — Install PMM Client:
        - Introduction: wizard/step2.md